#
# TinyDVR sample configuration.
# Copy this file to /etc/tinydvr/tinydvr.conf and update with your needed values.
#

#
# Database configuration
# Tiny dvr will connect to the following database on boot.
#

db = {
	url = "jdbc:h2:/opt/tinydvr/database;AUTO_SERVER=TRUE"
	username = "dbuser"
	password = "dbpassword"
}
